# 2023.06.

In [1]:
import pandas as pd

df = pd.DataFrame([[1,2,3]])

In [2]:
df

   0  1  2
0  1  2  3