# 2023.06.06 market test

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [4]:
df

          A         B         C         D
0 -1.468762 -2.635111  0.930419  0.111960
1 -0.889743  1.622334  2.164640 -0.625858
2  0.652604  0.322479  0.775165 -0.720410
3  1.998471  1.395703  0.096728 -1.891140
4 -0.336655  0.210017  0.216319 -0.203643
5  2.216936 -0.287734 -1.807188 -2.043379
6  0.382665 -0.370652  1.839660 -0.244683
7  0.669576 -0.873904  0.047261  0.753694
8 -0.175374 -0.658678  0.426250  1.297062
9  0.575363 -0.048230 -0.461707  0.009812