# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0 -0.663896 -0.178655 -0.559098 -0.592280
1 -0.289917  2.783415  0.086986 -0.798689
2  0.047646 -1.831236  1.064247 -0.322604
3 -0.439589  0.603813 -1.372370 -0.238594
4  0.762865  0.301686 -0.546186  0.487897
5  2.050304  0.148110 -0.361969 -1.509087
6 -1.070157 -0.344546  1.702257 -1.568955
7  0.439490  0.542114  0.049735  0.623619
8 -1.216865  0.600728  1.336988 -0.617348
9 -1.163740 -0.288387 -0.210293 -1.733244