# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0 -0.001942 -0.509392 -0.157037 -0.173290
1  0.147910 -0.334873  0.755211  0.285395
2 -0.571615  1.406770 -1.074471 -0.621173
3 -0.329942  0.978334 -0.125755  1.455700
4  0.977481 -1.261723  0.307135  0.052033
5  1.367199 -0.239701  0.543922  0.358786
6  0.340084 -0.541546  0.552345  0.051839
7 -0.866644 -1.526888 -1.289166 -0.502926
8 -1.177900  0.896142  0.311489  0.128385
9 -0.727718  0.274896 -0.088776 -0.536612