# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0 -1.334489 -0.182588 -0.009723  1.333074
1 -0.947343  1.649831  0.379390  1.727447
2 -0.956734  1.440506  0.646654 -1.557585
3 -0.439424 -1.439927  0.250696  0.804786
4 -1.363113  0.388623  0.351140  1.080186
5 -0.678929  0.220211  0.704371 -0.728868
6  0.854418 -1.114571  0.692703 -0.105074
7 -0.115644  0.239798  2.067728 -0.268246
8 -0.291554 -0.406630 -0.877539  0.261476
9 -0.817203 -0.913006  0.608705 -1.186933