# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0 -0.831111 -0.264363 -1.152167 -0.728081
1  2.327186  0.479238 -1.195436  0.700837
2 -0.042572  0.906805  1.393343  1.006904
3  3.302880 -0.249932  2.074083  1.079226
4  0.985454 -0.472192 -1.184145 -0.376365
5 -1.276070  0.927503 -1.681861  0.860701
6  0.735467  0.884710 -0.101773 -1.054972
7  0.347758 -0.664247  0.595316 -0.032794
8  0.367956  0.067377  0.975180  0.522244
9 -0.080836 -0.849944 -1.182696 -0.332385