# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0 -0.020056  0.482832  0.167596 -1.703732
1  2.178903  0.091648 -1.208914  1.425494
2  0.642927 -1.203314 -0.170459  0.690504
3 -0.637160  1.230535 -1.259406 -0.968931
4  1.437564 -0.163705 -1.174538  0.635676
5 -0.992934 -1.719521  0.722241  1.234979
6  0.477135  0.595082  1.776462 -2.651425
7  1.103786 -1.020248  0.327551 -0.519635
8 -0.486245  0.044200 -1.157178 -0.778559
9 -1.250229  1.242381 -0.159727  1.421395