# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0  0.473601  0.772466  0.181149 -1.027599
1 -1.238932 -0.854547  0.541835 -0.426039
2  1.466426 -0.710935  0.072162  1.486018
3  0.362795 -0.101119 -0.572019  2.266926
4 -1.750931  0.122802 -0.901692 -1.234119
5 -0.168320 -0.339526  0.424331  1.290855
6 -0.092774 -0.825453 -0.442528 -0.939040
7  0.650986 -0.874487  0.131657  0.590708
8  1.329320 -0.166827  0.831284  0.664825
9  1.178046 -0.194900  0.024647  0.109472