# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0 -1.443114 -0.696826 -1.160240 -1.710400
1  0.538139 -0.302876 -0.225941  0.285185
2  0.654176 -1.452456 -1.343948  1.035638
3  0.413160  0.674981  1.511772 -0.630954
4  0.279058 -1.249479  0.270570  0.403455
5 -0.761226 -0.253174  1.038434  1.910130
6 -1.153457  0.426800 -0.207780 -1.737977
7  0.054724 -0.150214 -0.033583 -1.676947
8  0.351441 -0.880708  1.115855  0.548984
9  0.867021  0.398346  0.086169  1.427065