# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0  0.500753 -1.050104 -0.951240  0.118632
1  1.073434 -0.243136 -1.311339 -0.362685
2 -0.251512 -1.819802 -0.371055 -0.267175
3  0.105606  0.232044  2.215059  1.388836
4  1.352584  0.908933 -0.313653 -1.990064
5  0.185816 -1.982207  0.646169  0.684201
6 -0.470975 -1.015965  0.688369  0.274773
7 -1.032695 -0.836419  0.484792  1.188271
8  1.064083  0.514388  0.318342 -2.527712
9  1.098961  1.578557 -0.476277 -0.339171