# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0  1.176766 -0.819914 -0.075714  0.551881
1  0.026586  1.221566 -1.094382 -0.208004
2  0.361717 -0.148275 -2.164111 -0.102274
3  0.055850  0.517880  0.088065 -2.034876
4 -0.173312 -1.290275  0.066402 -0.619647
5  0.144994  0.153869  0.564703 -0.553784
6 -1.831351  0.988886 -0.298198 -0.231801
7  0.508748 -0.350348 -1.070047 -1.594216
8 -0.297889 -0.554090 -1.713127 -0.056620
9  1.277559 -1.145530 -1.984249  0.628085