# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0 -0.024965  0.922649  0.088545  2.449521
1 -1.018685 -1.483038 -1.587044  0.348515
2  0.623005 -0.419872  0.545277 -1.365981
3 -0.618291  0.429091  1.296309  0.656668
4  0.076140  0.023783 -0.754964  0.353717
5  0.099701 -0.590879 -1.172978 -0.128286
6  0.483256 -1.838408 -0.115070 -0.448370
7  1.397017  1.543851 -1.863602  0.903252
8 -0.326532 -0.504526  0.450038  0.186986
9  1.380400 -1.680212  1.222087  1.447390