# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0  0.422496  0.588497 -1.085007  1.109967
1 -1.537926  1.352582 -0.039229 -1.785727
2  0.855842 -0.997923  1.549148  0.697535
3 -1.322161  1.410607 -0.366001  1.432537
4  0.135355 -0.247706 -0.695148  0.603952
5 -1.773723 -0.984481 -0.902630 -0.235573
6  0.347701 -1.994539 -0.638494 -1.510098
7 -1.310929  0.250654  1.139567  1.087363
8 -0.920926  0.049792 -0.498278 -0.017497
9  0.854948 -0.492386 -1.456733  1.180421