# 2023.06.06 market test

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
0  0.418784  0.908059  1.043514  0.527930
1  0.411290 -0.242690  0.893302  1.371077
2 -1.012835 -0.914306  0.898096  0.965413
3  0.818675 -0.267422 -1.625953  0.931990
4 -0.192222 -0.891710  1.473625 -0.496826
5  0.443028 -0.584200 -0.167508 -0.903543
6 -1.620908 -0.229782  0.101310 -1.257639
7  0.146793 -0.218067 -1.348775  0.613424
8  0.140098  0.405550 -1.024129 -0.425316
9 -0.385751 -0.783712 -0.950358  0.385404